# Папка для кэшированных байт-кодов
__pycache__/
*.py[cod]

# Файлы виртуальных окружений
.venv/
venv/
env/
ENV/

# Файлы и папки, специфичные для IDE
*.idea/
*.vscode/
*.pydev/

# Логи
*.log

# Конфигурационные файлы
*.env
*.pkl

# Системные файлы
.DS_Store
Thumbs.db

# Папки с тестами (если вы не хотите их включать)
tests/